In [34]:
# import liberaries
import numpy as np
import pandas as pd

In [35]:
# Load dataset
df = pd.read_csv("customer.csv")
df.head(4)

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        50 non-null     int64
 1   gender     50 non-null     object
 2   review     50 non-null     object
 3   education  50 non-null     object
 4   purchased  50 non-null     object
dtypes: int64(1), object(4)
memory usage: 2.1+ KB

gender(nominal), review(ordinal), education(ordinal) and purchased are all categorical columns so we apply encoding techniques.

In [37]:
df['review'].value_counts()

review
Poor       18
Good       18
Average    14
Name: count, dtype: int64

In [38]:
df['education'].value_counts()

education
PG        18
School    16
UG        16
Name: count, dtype: int64

In [39]:
# Let's apply ordinal encoding on review and education features
from sklearn.preprocessing import OrdinalEncoder

oe = OrdinalEncoder(categories = [['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])

oe.fit_transform(df[['review', 'education']])

# Converting into dataframe

encoded_col = pd.DataFrame(oe.fit_transform(df[['review', 'education']]), columns = df[['review', 'education']].columns)
encoded_col.head()

   review  education
0     1.0        0.0
1     0.0        1.0
2     2.0        2.0
3     2.0        2.0
4     1.0        1.0

In [40]:
oe.categories_

[array(['Poor', 'Average', 'Good'], dtype=object),
 array(['School', 'UG', 'PG'], dtype=object)]

In [43]:
# merging both dataframes
merged_df = pd.concat([df, encoded_col], axis = 1)
merged_df.head()

   age  gender   review  education purchased  review  education
0   30  Female  Average     School        No     1.0        0.0
1   68  Female     Poor         UG        No     0.0        1.0
2   70  Female     Good         PG        No     2.0        2.0
3   72  Female     Good         PG        No     2.0        2.0
4   16  Female  Average         UG        No     1.0        1.0