In [33]:
import numpy as np
import pandas as pd

from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression

import seaborn as sns

In [34]:
df = pd.read_csv('train.csv')[['Age','Pclass','SibSp','Parch','Survived']]
df.dropna(inplace=True)

print(df.shape)

df.head()

(714, 5)

    Age  Pclass  SibSp  Parch  Survived
0  22.0       3      1      0         0
1  38.0       1      1      0         1
2  26.0       3      0      0         1
3  35.0       1      1      0         1
4  35.0       3      0      0         0

In [35]:
X = df.iloc[:,0:4]
y = df.iloc[:,-1]

In [36]:
X.shape

(714, 4)

# Applying Feature Construction

In [37]:
X['Family_size'] = X['SibSp'] + X['Parch'] + 1

In [38]:
X.head()

    Age  Pclass  SibSp  Parch  Family_size
0  22.0       3      1      0            2
1  38.0       1      1      0            2
2  26.0       3      0      0            1
3  35.0       1      1      0            2
4  35.0       3      0      0            1

In [39]:
def familyCat(num):
    if num == 1: # alone
        return 0
    elif num > 1 and num <= 4: # Small Family
        return 1 
    else:
        # Large family
        return 2

In [40]:
X['Family_type'] = X['Family_size'].apply(familyCat)
X.head()

    Age  Pclass  SibSp  Parch  Family_size  Family_type
0  22.0       3      1      0            2            1
1  38.0       1      1      0            2            1
2  26.0       3      0      0            1            0
3  35.0       1      1      0            2            1
4  35.0       3      0      0            1            0

In [41]:
X.drop(columns=['SibSp','Parch','Family_size'], axis=1, inplace=True)
X.head()

    Age  Pclass  Family_type
0  22.0       3            1
1  38.0       1            1
2  26.0       3            0
3  35.0       1            1
4  35.0       3            0

In [42]:
X.shape

(714, 3)