In [73]:
import numpy as np
import pandas as pd

In [74]:
df = pd.read_csv("play_tennis.csv")[['outlook',	'temp',	'humidity',	'wind',	'play']]

print(df.shape)

df

(14, 5)

     outlook  temp humidity    wind play
0      Sunny   Hot     High    Weak   No
1      Sunny   Hot     High  Strong   No
2   Overcast   Hot     High    Weak  Yes
3       Rain  Mild     High    Weak  Yes
4       Rain  Cool   Normal    Weak  Yes
5       Rain  Cool   Normal  Strong   No
6   Overcast  Cool   Normal  Strong  Yes
7      Sunny  Mild     High    Weak   No
8      Sunny  Cool   Normal    Weak  Yes
9       Rain  Mild   Normal    Weak  Yes
10     Sunny  Mild   Normal  Strong  Yes
11  Overcast  Mild     High  Strong  Yes
12  Overcast   Hot   Normal    Weak  Yes
13      Rain  Mild     High  Strong   No

In [75]:
# Problem 1

# outlook=Sunny ,Temp=Hot ,Humididty=High ,Wind=Weak
# play or not??

# Solution 

# p(Yes | Suuny,Hot,High, Weak) = p(Sunny|Yes) * p(Hot|Yes) * p(High|Yes) * p(Weak|Yes) * p(Yes)

# p(No | Suuny,Hot,High, Weak) = p(Sunny|No) * p(Hot|No) * p(High|No) * p(Weak|No) * p(No)

# compare and decide using the maximum a posteriori rule above 

# Training Phase

# lookup table to store all required probabilities.

# Testing

# Training Phase

In [76]:
# Calculate the probability of yes and no
df['play'].value_counts()

play
Yes    9
No     5
Name: count, dtype: int64

In [77]:
P_yes = 9/14
P_no = 5/14

print(f'Probability of Yes is {P_yes} and No is {P_no}')

Probability of Yes is 0.6428571428571429 and No is 0.35714285714285715

In [78]:
df.columns

Index(['outlook', 'temp', 'humidity', 'wind', 'play'], dtype='object')

In [79]:
# outlook

pd.crosstab(df['outlook'], df['play'])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [80]:
# p is probabaility
p_outlook_y = 4/9
p_rain_y = 3/9
p_sunny_y = 2/9

p_outlook_n = 0
p_rain_n = 2/5
p_sunny_n = 3/5

In [81]:
# temp
pd.crosstab(df['temp'], df['play'])

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [82]:
p_cool_y = 3/9
p_hot_y= 2/9
p_mild_y= 4/9

p_cool_n = 1/5
p_hot_n = 2/5
p_mild_n = 2/5

In [83]:
# humidity
pd.crosstab(df['humidity'], df['play'])

play      No  Yes
humidity
High       4    3
Normal     1    6

In [84]:
p_high_y = 3/9
p_normal_y = 6/9

p_high_n = 4/5
p_normal_n = 1/5

In [85]:
# wind
pd.crosstab(df['wind'], df['play'])

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [86]:
p_strong_y = 3/9
p_weak_y = 6/9

p_strong_n = 3/5
p_weak_n = 2/5

# Testing

In [87]:
# From Problem 1
# Outlook-Sunny, temp-Hot, humidity-High, wind-Weak, play-No,P(Yes)

# Solution
# P(yes/sunny,hot,high,weak) = P(SunnyYes) * P(Hot/Yes) * P(Humidity/Yes) * P(Weak/Yes) * P(Yes)
# P(No/sunny, hot, high, weak) = P(Sunny/No) * P(Hot/No) * P(Humidty/No) * P(Weak/No) * P(No)

Pyes = p_sunny_y * p_hot_y * p_high_y * p_weak_y * P_yes
Pno = p_sunny_n * p_hot_n * p_high_n * p_weak_n * P_no

In [88]:
print("Probability of Yes", np.round(Pyes, 2))
print("Probability of No", np.round(Pno, 2))

print("Final Result is `No` because Probability of No is Higher than Yes.")

Probability of Yes 0.01
Probability of No 0.03
Final Result is `No` because Probability of No is Higher than Yes.

In [89]:
# Problem 2

# Outlook=Overcast , Temp-Mild, Humidity-Normal, wind= Strong
# Play or no play 

# Solution
# P(Yes/ Overcast, Mild, Normal,Strong) = P(Overcast/Yes) * P(Mild/Yes) * P(Normal/Yes) * P(Strong/Yes) *P(yes)
# P(No/Overcast, Mild, Normal,Strong) = P(Overcast/No) * P(Mild/No) * P(Normal/No) * P(Strong/No) * P(no)

pyes = P_yes * p_outlook_y * p_mild_y * p_normal_y * p_strong_y
pno = P_no * p_outlook_n * p_mild_n * p_normal_n * p_strong_n

In [90]:
print("Probability of Yes", np.round(pyes, 2))
print("Probability of No", np.round(pno, 2))

print("Final Result is `Yes` because Probability of Yes is Higher than No.")

Probability of Yes 0.03
Probability of No 0.0
Final Result is `Yes` because Probability of Yes is Higher than No.