In [15]:
# import liberaries
import numpy as np
import pandas as pd

In [16]:
# load the titanic data from seaborn datasets
df = pd.read_csv(r"C:\Users\Admin\Desktop\ml-journey-and-projects\Encoding\Ordinal Encoding\customer.csv")
df.head(4)

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No

In [17]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

le.fit_transform(df[['purchased']])

c:\Users\Admin\.conda\envs\python\Lib\site-packages\sklearn\preprocessing\_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0,
       1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0,
       0, 1, 0, 1, 1, 0])

In [18]:
# convert it into pandas dataframe
encoded = pd.DataFrame(le.fit_transform(df[['purchased']]), columns = df[['purchased']].columns)
encoded.head()

c:\Users\Admin\.conda\envs\python\Lib\site-packages\sklearn\preprocessing\_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

   purchased
0          0
1          0
2          0
3          0
4          0

In [19]:
# Merging both dataframes
merged_df = pd.concat([df, encoded], axis = 1)
merged_df.sample(10)

    age  gender   review education  purchased  purchased
47   38  Female     Good        PG        Yes          1
0    30  Female  Average    School         No          0
35   74    Male     Poor    School        Yes          1
22   18  Female     Poor        PG        Yes          1
19   97    Male     Poor        PG        Yes          1
9    74    Male     Good        UG        Yes          1
24   16  Female  Average        PG        Yes          1
33   89  Female     Good        PG        Yes          1
21   32    Male  Average        PG         No          0
7    60  Female     Poor    School        Yes          1